.gallery-slider {
    position: relative;

    .slick-slide {
        position: relative;

        &::before {
            content: '';
            background-color: #000;
            opacity: .3;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: opacity 0.2s ease;
        }
    }
}

.slick-list {
    position: relative;
}

.gallery-slider__info {
    color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    h2 {
        color: #fff;
    }
}

.gallery-slider__info-box, 
.gallery-slider__purchase-price {
    background-color: rgba(#000, .8);
}

.gallery-slider__info-box {
    position: absolute;
    bottom: 75px;
    white-space: nowrap;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
} 

.gallery-slider__purchase-price {
    position: absolute;
    padding: 35px 40px;
    max-height: 380px;
    width: 270px;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .line {
        width: 50px;
        height: 1px;
        background-color: #fff;
        margin-bottom: 25px;
    }
}

.gallery-slider__main {
    height: 100vh;
    overflow: hidden;
    position: relative;

    
    img {
        width: 100%;
    }
}

.gallery-slider__thumbnails {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .slick-slide  {
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        margin-left: 3px;
        margin-right: 3px;

        &:focus {
            outline: none;
        }

        &:hover, 
        &.slick-current {
            &::before {
                opacity: 0;
            }
        }
    }

    img {
        opacity: 0;
    }
}

.slick-arrow {
    font-size: 0;
    background-color: #000;
    opacity: 80%;
    padding: 30px 30px 25px 30px;
    border: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 2;
    height: 100px;
    box-sizing: border-box;
    cursor: pointer;
    transition: opacity .3s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: .5; 
    }
}

.slick-prev {
    background-image: url('../img/left-arrow-slider.png');
    left: 0;
}

.slick-next {
    background-image: url('../img/right-arrow-slider.png');
    right: 0;
}