.gallery-slider {
    position: relative;

    .slick-slide {
        position: relative;

        &::before {
            content: '';
            background-color: #000;
            opacity: .2;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: opacity 0.1s ease;
        }

        &.slick-active {
            &::before {
                opacity: 0;
            }
        }
    }

}

.slick-list {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 30%;
        background-color: #000;
    }
}

.gallery-slider__main {
    height: 100vh;
    overflow: hidden;
    position: relative;

    
    img {
        width: 100%;
    }
}

.gallery-slider__thumbnails {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .slick-slide  {
        background-size: cover;
        background-repeat: no-repeat;
    }

    img {
        opacity: 0;
    }
}

.slick-arrow {
    font-size: 0;
    background-color: #333;
    opacity: 85%;
    padding: 30px 30px 25px 30px;
    border: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 2;
    height: 100px;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

.slick-prev {
    background-image: url('../img/left-arrow-slider.png');
    left: 0;
}

.slick-next {
    background-image: url('../img/right-arrow-slider.png');
    right: 0;
}