<header class="header-main header-main--home">
    <div class="wrapper wrapper--header wrapper--small">
        <!-- <div class="header-main__top">

            <a href="" class="logo"><img src="assets/img/logo.svg" alt=""></a>
            <nav class="nav-wrap">
                <ul>
                    <li class="is-active"><a href="">Home </a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </div> -->
        {% include "./navigation.html" -%}
        <div class="header-main__middle">
            <h1>Renovista is a London interior design and interior architecture studio specialising in luxury residential projects.</h1>
        </div>  
        <div class="header-main__bottom">
            <a href=""><img src="assets/img/arrow-down-white.svg" alt=""></a>
        </div>
    </div>
</header>
