
@font-face {
  font-family: 'NeueEinstellung-Bold';
  src: url('NeueEinstellung-Bold.eot?#iefix') format('embedded-opentype'),  url('NeueEinstellung-Bold.woff') format('woff'), url('NeueEinstellung-Bold.ttf')  format('truetype'), url('NeueEinstellung-Bold.svg#NeueEinstellung-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
