
// @font-face {
//   font-family: 'MyriadPro';
//   src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
// 	     url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'MyriadPro';
//   src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Bold.otf')  format('opentype'),
// 	     url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf')  format('truetype'), url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
//   font-weight: 700;
//   font-style: normal;
// }


@font-face {
    font-family: 'NeueEinstellung';
    src: url('../fonts/neueEinstellung-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/neueEinstellung-Regular.woff') format('woff'), url('../fonts/neueEinstellung-Regular.ttf')  format('truetype'), url('../fonts/neueEinstellung-Regular.svg#NeueEinstellung-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueEinstellung';
    src: url('../fonts/neueEinstellung-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/neueEinstellung-Bold.woff') format('woff'), url('../fonts/neueEinstellung-Bold.ttf')  format('truetype'), url('../fonts/nNeueEinstellung-Bold.svg#NeueEinstellung-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
  }