/* ------------------------------------*\
    #WRAPPER
\*------------------------------------ */

.wrapper {
  width: 100%;
  max-width: 100%;
  padding-right: $spacing-unit--small;
  padding-left: $spacing-unit--small;

  @include min-screen($breakpoint-large) {
    max-width: calc(#{$page-default-width} + (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    margin-right: auto;
    margin-left: auto;
  }
}

.wrapper--small {
  max-width: 748px;
}

.wrapper--header {
  padding: 43px 0 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}